{% extends "base.html" %}

{% set active_page = "teaching" %}
{% set meta_description = "Arun Advani's Teaching" %}

{% block content %}
    <div class="container">
      <div class="page-header">

        <div class="row">
          <div class="col-md-10">
            <h3>2025/26</h3>
            <div class="span10 offset1">
              <div class="pAbstract">
                I am not teaching this year. But I will continue to be involved in Economics education, as co-chair of <a href="http://www.discovereconomics.co.uk/">#DiscoverEconomics</a>.
              </div>
            </div>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-10">
            <h3>Past teaching</h3>
            <div class="span10 offset1">
              <div class="pAbstract">
                Previously at Warwick I taught <a href="https://www2.warwick.ac.uk/fac/soc/economics/current/modules/ec310/">EC310</a> (Topics in Economic Development).
                Before this I taught at the <a href="http://www.econ.cam.ac.uk/">University of Cambridge</a> (2008-13), the <a href="http://econ.lse.ac.uk/">LSE</a> (2011-12), <a href="http://www.ucl.ac.uk/economics">University College London</a> (2016-17), and for the <a href="https://www.ifs.org.uk/events/973">IFS</a> (2011-13).
              </div>
            </div>
          </div>
        </div>
        <br>

      </div><!-- /.page-header -->
    </div><!-- /.container -->
{% endblock %}